@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

.demobox {
    background-color: #F93318;
    float: left; 
}

@font-face {
    font-family: "Pokemon";
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}

table.pokemonRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 350px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    background: #ffffff;
  }
  table.pokemonRows td, table.pokemonRows th {
    border: 1px solid #01ffaa81;
    padding: 3px 2px;
  }
  table.pokemonRows tbody td {
    font-size: 13px;
  }
  table.pokemonRows th {
    font-size: 17px;
    background: #F93318;
    border-bottom: 5px solid #FFFFFF;
    font-weight: bold;
    color: #021d36;
    text-align: center;
  }