<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Search</title>
    <link href="//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<body>
    <header>
        <img
        class="demobox" 
        src="https://www.freepnglogos.com/uploads/pokemon-logo-png-0.png" 
        alt="Pokemon Logo"
        width="145"
        style="float: left;"
        >
        <h1 style="padding-top: 30px; 
        padding-left: 152px; 
        font-size: 45px; 
        font-family: Pokemon; 
        color: #2a75bb;
        letter-spacing: 3px;">Search</h1>
    </header>
</body>
</html>