<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<body>
    <header>
        <img
        class="demobox" 
        src="https://www.freepnglogos.com/uploads/pokemon-logo-png-0.png" 
        alt="Pokemon Logo"
        width="150"
        >
    </header>
</body>
</html>