<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Search</title>
    <link href="//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<body>
    <header>
        <div style="align-items: stretch;">
            <img
            class="demobox" 
            src="https://www.freepnglogos.com/uploads/pokemon-logo-png-0.png" 
            alt="Pokemon Logo"
            width="145"
            style="display: inline-block;
            border: 3px solid black;
            border-right: 0px;"
            >
            <div style="padding-top: 30px; 
            padding-left: 15px;
            padding-right: 17px;
            padding-bottom: 21px;
            font-size: 45px; 
            font-family: Pokemon; 
            color: #2a75bb;
            letter-spacing: 3px;
            border: 3px solid black;
            border-left: 0px;
            display: inline-block;">Search</div>
        </div>
    </header>
    <table class="paleBlueRows">
        <tbody>
        <tr>
        <th colspan="2">
        pokemon
        </th>
        </tr>
        <tr>
        <td colspan="2">
            <img src="" alt="Sprite of searched Pokemon">
        </td>
        </tr>
        <tr>
        <td>PokeIndex</td>
        <td>cell2_3</td>
        </tr>
        <tr>
        <th colspan="2">Types</th>
        </tr>
        <tr>
        <td>Type 1</td>
        <td>cell2_4</td>
        </tr>
        <tr>
        <td>Type 2</td>
        <td>cell2_5</td>
        </tr>
        <tr>
        <th colspan="2">Measurements</th>
        </tr>
        <tr>
        <td>Weight</td>
        <td>cell2_6</td>
        </tr>
        <tr>
        <td>Height</td>
        <td>cell2_7</td>
        </tr>
        </tbody>
    </table>
    </body>
</html>