<table class="paleBlueRows">
    <tbody>
    <tr>
    <th colspan="2">
    pokemon
    </th>
    </tr>
    <tr>
    <td colspan="2">
        <img src="" alt="Sprite of searched Pokemon">
    </td>
    </tr>
    <tr>
    <td>PokeIndex</td>
    <td>cell2_3</td>
    </tr>
    <tr>
    <th colspan="2">Types</th>
    </tr>
    <tr>
    <td>Type 1</td>
    <td>cell2_4</td>
    </tr>
    <tr>
    <td>Type 2</td>
    <td>cell2_5</td>
    </tr>
    <tr>
    <th colspan="2">Measurements</th>
    </tr>
    <tr>
    <td>Weight</td>
    <td>cell2_6</td>
    </tr>
    <tr>
    <td>Height</td>
    <td>cell2_7</td>
    </tr>
    </tbody>
</table>